.wwd-heading{
	text-transform: uppercase;
	color: #44475b;
	letter-spacing: 2px;
	font-weight: 500;
}

.wwd-subheading{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	/* font-weight: 300; */
	color: #44475b;
	margin-bottom: 20px;

}

.wwdimg {
	width: 23vw;
	height: 23vh;
}

.wwd-content {
	padding-top: 4rem;
}

.card-shadow {
	border: 2px solid black;
}

._card {
	height: 15px;
}

.card-img-top {
	width: 310px;
	height: 40px !important;
	margin: 35px 35px 35px 35px !important;
}

.des {
	size: 20px;
}
/*color: #24a06a*/

.lead {
	font-size: 16px;
	padding: 2em;
}

.divider {
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
	.mobHide {
		display: none;
	}
}




/* <div id="sectionJoinUs" class="joinUs"><div class="joinUsText"><div class="joinUsTitle">Want to join us?</div><div class="joinUsPara1">We’re taking complicated stuff and making it super simple. Our teams are full of smart and savvy folks working on challenging tasks.</div><div class="joinUsPara2">And we’re always looking for customer-obsessed people. Think you’re customer-focused enough? Write to us at future@groww.in.</div><a href="https://storyboard.darwinbox.in/ms/candidate/careers" class="" rel="nofollow" target="_blank"><div class=""><div class="btn51Btn btn51RippleSecondary btn51Secondary" style="width: 170px; height: 45px; background-color: var(--constantWhite); color: var(--secondaryClr);"><div class="absolute-center btn51ParentDimension"><span class="absolute-center" style="padding: 0px 25px;"><span>APPLY NOW</span></span></div></div></div></a></div><div class="joinUsImage"><div class="lazyload-wrapper"><img class="joinUsImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.1/build/client/images/join-us-bg.df856330.png" alt="Join Us"></div></div></div> */