.pathy{
	padding-top: 100px;
	position: relative;
	margin-bottom: 50px;
}

.pathy-bg-img{
	width: 100%;
	height: 1000px;
    position: absolute;
	left: 0;
}

.pathy_intro{
	margin-bottom: 100px;
}

.pathy_title{
	padding-top: 120px;
}

.motto{
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 1.5px;
	color: #44475b;
}

.pathy_content{
	padding-top: 30px;
	line-height: 40px;
}

.content-line{
	font-size: 20px;
	color: #7c7e87;
}

.pathy-svg{
	padding-top: 90px;
}

.pathy-svg_svg{
	width: 100%;
}

.pathy_card{
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 10px 44px 0 #e5faf5;
	margin: 60px 0;
	background-color: #fff;
}

.pathy-card_icon{
	margin-bottom: 20px;
	margin-top: 60px;
	height: 50px;
}

.pathy-card_heading{
	font-size: 24px;
	font-weight: 500;
	color: hsl(165, 100%, 41%);
	margin-bottom: 15px;
}

.pathy-card_text{
	font-size: 22px;
	margin-bottom: 25px;
	line-height: 26px;
	letter-spacing: 0.6px;
}

.pathy-icon-tag,
.pathy-icon-true{
	width: 40px;
}




/* .pathy-card {
	border-radius: 0 !important;
	padding: 5px;
} */
